.App {
  text-align: center;
}
.btn{
  background-color:yellow;
  height:30px;
  width: 90px;
  text-align: center;
  font-size: 2vh;
  margin-left: 250px;
  position: relative;
  top: 20px;
  
}
input.a{
  height: 20px;
  width:200px;

}
.Next{

  margin-left: 800px;
  

}
.container{
  background-color:burlywood;
   font-size: calc(10px + 2vmin);
  color: white;

  }
  
  
  .body{
    margin-Left:200px;
    color:brown;
    
  }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:brown;
  margin-top:400px ;
  margin-left: 300px;
}
.b-link{
  width:90px;
  height: 30px;
  margin-left: 300px;
  color: brown;
  background-color:yellow;
}
